[Unit]
Description=m-ui Service
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/m-ui/
ExecStart=/usr/local/m-ui/m-ui

[Install]
WantedBy=multi-user.target